body {
  background: #fff;
  color: #1d1d1d;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -0.003em;
  line-height: 1.7;

}
nav {
  font-family: "Open Sans", sans-serif;
}

.nav-item{
  padding-right: 10px;
}

.navbar{
  padding-right: 150px;
  padding-left: 250px;
}
.mt-5 {
  margin-top: 5 !important;
  margin-bottom: 5 !important;
}

.pull-right {
  float: right;
}

h1 {
  color: #1b4732;
  font-size: xxx-large;
  font-family: Helvetica;
}

.row2 {
  color: cadetblue;
  font-size: xx-large;
  font-family: Helvetica;

}
.row1 {
  font-size: x-large;
  float: center;
  font-family: Helvetica;
}

.col1{
  font-size: medium;
}

.picturecap {
  color: cadetblue;
  font-family: Helvetica;
}

p {
  font-size: large;
}

.para1 {
  margin-right: 500px;
  margin-left: 500px;
  align: text-center;
}

.list1{
  color:white;
  font-family: Helvetica;
  font-size: large;
}

.small{
  color:white;
  font-size: small;
}